{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>

    <!-- Link to Tailwind CSS -->
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>
<body class="bg-white text-gray-900">

    <!-- Content from child templates will be injected here -->
    {% block content %}
    {% endblock %}

</body>
</html>

